test
demo.mp4
extra info.txt
chrome-ext.pem
.vscode
*.zip
extensions/chrome/js/copy.simple.user.js
.DS_Store
extensions/microsoft/js/copy.simple.user.js
/extensions/microsoft/_locales
/extensions/microsoft/html
/extensions/microsoft/icons
/extensions/microsoft/js
/extensions/firefox/_locales
/extensions/firefox/html
/extensions/firefox/icons
/extensions/firefox/js
extensions/firefox/pushFirefox.cmd
